@font-face {
  font-family: 'LOLI2';
  src: url('font/萝莉体 第二版.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'LOLI2', sans-serif;
  font-size: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(0, 0, 0);
}